.Button {
    cursor: pointer;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 30px;
    border: 2px solid gray;
    border-radius: 10px;
    @media screen and (max-width: 767px) {
        width: 150px;
        height: 60px;
        font-size: 21px;
    }
}